trunk/java-event-logs/xsds/jp2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema targetNamespace="http://jp-profiler.origo.ethz.ch/xmlns/calling-context-tree" xmlns="http://jp-profiler.origo.ethz.ch/xmlns/calling-context-tree" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="method">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="executionCount"/>
				<xs:element ref="s_stamps"/>
				<xs:element ref="e_stamps"/>
				<xs:element ref="executedInstructions"/>
				<xs:element ref="callsite" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="basicBlock" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="return" use="required" type="xs:string"/>
			<xs:attribute name="params" use="required" type="xs:string"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="declaringClass" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="s_stamps">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="s_stamp" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="e_stamps">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="e_stamp" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="s_stamp" type="xs:long"/>
	<xs:element name="e_stamp" type="xs:long"/>
	<xs:element name="executionCount" type="xs:int"/>
	<xs:element name="executedInstructions" type="xs:int"/>
	<xs:element name="callsite">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="method" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="instruction" use="required" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="callingContextTree">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="method" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="startTime" use="required" type="xs:long"/>
			<xs:attribute name="stamp" use="required" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="basicBlock">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="executionCount"/>
			</xs:sequence>
			<xs:attribute name="startInstruction" use="required" type="xs:int"/>
			<xs:attribute name="endInstruction" use="required" type="xs:int"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
